<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <title>Here we go</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='opt/bootstrap.css')}}" />

</head>
 
<body>
    <main role="main" class="container">
        <h1>TFL Title and Footnote editor</h1>
        <form></form>
        <div id="res" class="alert"></div>
        <script type="text/javascript" src="deps/jquery.min.js"></script>
        <script type="text/javascript" src="deps/underscore.js"></script>
        <script type="text/javascript" src="deps/opt/jsv.js"></script>
        <script type="text/javascript" src="lib/jsonform.js"></script>
    
    <h1>Welcome!</h1>
 
    <script type="text/javascript">
        $('form').jsonForm({
  
    "schema": {
      "displays": {
        "type": "array",
        "items": {
          "type": "string",
          "title": "TFLID",
          "default": "XXX"
        }
      }
    },
    "form": [
      {
        "type": "tabarray",
        "items": [
          {
            "type": "section",
            "legend": "{{idx}}. {{value}}",
            "items": [
              {
                "key": "displays[]",
                "valueInLegend": true
              }
            ]
          }
        ]
      }
    ]
  
          ,
          onSubmit: function (errors, values) {
            if (errors) {
              $('#res').html('<p>I beg your pardon?</p>');
            } else {
              $('#res').html('<p>Ok.</p>');
            }
          }
        });
      </script>
  
    
    <div id="histogram"></div>
 
    <script>
        jQuery(document).ready(function() {
            jQuery.getJSON("{{ url_for('random', n=100) }}", function(random_numbers) {
 
                var plotConfig = [{
                    x: random_numbers,
                    type: 'histogram',
                    marker: {
                        color: 'rgba(100,250,100,0.7)',
                    },
                }];
                Plotly.newPlot('histogram', plotConfig);
 
            })
        });
    </script>
    </main>
</body>
 
</html>
