<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <title>Here we go</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='opt/bootstrap.css')}}" />

</head>
 
<body>
    <h1>Welcome!</h1>
 
    <h2>Heading 2</h2>
    <p>The links below will work either when you click them (navigation within the iframe, check the page source), or if you append the component ('another_page', 'redirect_test_fail', etc) to the URL after you did (*) above.
        <ul>
            <li>A call to flask's url_for('another_page') returns <a href="{{ url_for('another_page') }}">{{ url_for('another_page') }}</a> (which has the 'r/notebookSession' component).</li>
            <li>A link to a redirect 'redirect_test' which then goes to url_for('another_page'): <a href="{{ url_for('redirect_test') }}">{{ url_for('redirect_test') }}</a></li>
        </ul>
    </p>
  
    <div id="histogram"></div>
 
    <script>
        jQuery(document).ready(function() {
            jQuery.getJSON("{{ url_for('random', n=100) }}", function(random_numbers) {
 
                var plotConfig = [{
                    x: random_numbers,
                    type: 'histogram',
                    marker: {
                        color: 'rgba(100,250,100,0.7)',
                    },
                }];
                Plotly.newPlot('histogram', plotConfig);
 
            })
        });
    </script>
</body>
 
</html>
